.ui-btn-active, .ui-state-persist{
	
	background-color:rgba(247,70,74,0.8) !important;
	border-color:rgba(247,70,74,0.8) !important;
}

.loading{  display:block; margin-left:auto; margin-right:auto; margin-top:50%}
.navbutton {
 border:1px red  solid; display:table; width:100%;
}
.proback {
  float:left;cursor:pointer; height:23px; background-image:url('../img/back1.png');
   height:32px; width:32px;
}
.proback:hover, .proprev:hover{
 opacity:0.9;-webkit-opacity:0.9;
 
}
.proprev{
  float:right;cursor:pointer; height:23px; background-image:url('../img/next.png');
   height:32px; width:32px;

}
.block a {
	 padding-left:15px !important; line-height:25px !important;
}
.block a img{
	 width:28px; margin-top:7px; margin-right:10px !important;
}
.block a span{
	 display:block; line-height:15px;  font-weight:normal; padding-left:30px;
}
.searchPanel {
display:table;  margin-left:auto; margin-right:auto;  width:100%;
}
.searchPanel a{
	 display:block; color:rgba(255,255,255,0.9);
	  font-size:10pt;
	  background-color:white;
	   padding:5px; margin-top:15px; margin-bottom:15px;
	   border-radius:3px;
	   font-weight:bold;
	   line-height:35px;
}
.searchPanel a img{
	 float:left; margin-right:5px;
}
.bg1{background-color:rgba(250,128,114,0.9) !important;}
.bg1:hover{background-color:rgba(250,128,114,0.8) !important;}

.bg2{background-color:rgba(100,140,17,0.9) !important;}
.bg2:hover{background-color:rgba(100,140,17,0.7) !important;}

.bg3{background-color:rgba(25,116,210,0.9) !important;}
.bg3:hover{background-color:rgba(25,116,210,0.8) !important;}



.bg5{background-color:rgba(138,43,226,0.8) !important;}
.bg5:hover{background-color:rgba(138,43,226,0.7) !important;}

.bg4{background-color:rgba(0,149,182,0.8) !important;}
.bg4:hover{background-color:rgba(0,149,182,0.7) !important;}


.mechat{margin-top:15px; margin-bottom:10px; display:table; width:100%;}
.otherchat{ display:table !important; width:100%; border:0px red solid;}

.space{display:table; width:100%; border:1px dashed  transparent;}
.chattime,.chattime1 {border:0px red solid;}
.chattime1 span{
	 display:table; margin-right:auto; margin-left:65px;
	  font-size:8pt; margin-top:5px;
	   padding:3px;
	   background-color:rgba(230,230,230,0.9); 
	   color:rgba(100,100,100,0.7);
	     border:1px rgba(230,230,230,0.4) solid;
	     border-radius:2px; 
}

.chattime span{
	 display:table; margin-left:auto; margin-right:65px;
	  font-size:8pt; margin-top:5px;
	   padding:3px;
	   background-color:rgba(230,230,230,0.9); 
	   color:rgba(100,100,100,0.7);
	     border:1px rgba(230,230,230,0.4) solid;
	     border-radius:2px; 
}
.chattime span img,  .chattime1 span img{ float:left; margin-right:3px;}

.userpic{
	border-radius:50%;
	
	-webkit-border-radius:50%;
	border:3px rgba(200,200,200,0.5) solid;
	 height:40px; width:40px; float:left;
}
.userpic  img{border-radius:50%;	 height:40px; width:40px; -webkit-border-radius:50%;}

.userpic1{
	border-radius:50%;
	-webkit-border-radius:50%;
	border:3px rgba(200,200,200,0.5) solid;
	 height:40px; width:40px; float:right;
}
.userpic1 img{border-radius:50%;-webkit-border-radius:50%; max-width:40px; max-height:40px;}

.arrow-right{
	width: 0px; margin-right:-15px;
height: 0px; float:right;
 border-style: solid;
border-width: 7.5px 0 7.5px 15px;
border-color: transparent transparent transparent white;
}

.arrow-left{
	width: 0px; position:absolute; margin-left:-15px;
height: 0px;
border-style: solid;
border-width: 10px 10px 10px 0;
border-color: transparent rgba(255,255,255,0.9) transparent transparent;
}
.chatmessage1{
 border-radius:5px;  float:right; margin-right:15px; font-size:10pt; color:rgba(10,10,10,0.8);
border:0px red solid; background-color:rgba(255,255,255,0.9); padding:5px; width:65%;
	
}
.chatmessage {border-radius:5px;  float:left; margin-left:15px; font-size:10pt; color:rgba(10,10,10,0.8);
border:0px red solid; background-color:rgba(255,255,255,0.9); padding:5px; width:65%;
}


.fav , .favVisitor , .favMatch , .searchbyfav, .favChat , .onlinefav, .nearbyfav {position:absolute; z-index:100; right:0px; margin-top:5px;}
.listicon {
	float:left;
}
.sendmsg {z-index:100000;margin-top:10px; position:relative; float:right; margin-right:3px; border:0px red solid; margin-top:-43px; }
.sendmsg img{
	cursor:pointer;
}
.smiliys {
	float:left;
}
.smiliys img{
	 cursor:pointer;
}
.listicon img{
	 width:25px; cursor:pointer;
	  margin-left:5px; margin-right:5px;
}
.listicon img:hover{opacity:0.7;-webkit-opacity:0.7;-moz-opacity:0.7;}
.addbutton {
	position:absolute; z-index:100;
	 margin-top:12px; margin-left:5px;
}
.smileys { display:none;
	 margin-top:-175px !important; z-index:10000 !important; width:180px;
	 position:absolute; background-color:rgba(198,0,36,0.8);
	 padding:5px; border-radius:3px 3px 0px 0px;

}

.arrow-down 
{
	width: 0; position:absolute; bottom:-10px;
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(198,0,36,0.8);
	font-size: 0;
	line-height: 0;
}


.addmediainchat { display:none;
	position:absolute; background-color:rgba(198,0,36,0.8); margin-top:-40px;
	 padding:5px; border-radius:3px 3px 0px 0px; margin-left:3.1%;
}

.addbutton img{cursor:pointer;}

.chatsection{
 border:1px rgba(200,200,200,0.7) solid;
	 bottom:0px;  z-index:10000;
	 width:100%; margin-top:-1px; height:55px;
	  background-color:rgba(250,250,250,0.8);
}

.chatsection .ui-input-text{
 font-size:9pt !important; line-height:27px !important;

}


.chatbutton a{
display:table; color:rgba(10,10,10,0.9) !important;
 background-color:rgba(255,255,255,0.9) !important;
 text-shadow:none !important;
  padding-left:15px !important;
    padding-right:15px !important;

  font-size:10pt; padding:10px;
  border-radius:10px; margin-top:10px;
}

.userchatheader{line-height:35px; font-size:10pt;}
.userchatheader small{background-color:rgba(255,127,102,0.9); padding:3px; border-radius:3px;}
.submenu {position:absolute; display:none; background-color:rgba(10,10,10,0.9); right:0px; top:41px;}
.error{color:#E32636;}
.sucess{color:#008000;}

.submenu > a {
 color:white !important;
}
.menua{color:white !important; width:150px;line-height:30px !important; display:block;
 border-top:1px rgba(200,200,200,0.2) solid; padding-left:8px;
}
.menua:hover{color:rgba(230,230,230,0.9) !important;}
.msg{display:block; text-align:center; padding:5px; font-weight:bold;}

.check img{
 float:right !important;
 position:absolute;  right:0px;
   z-index:100; margin-top:20px;
 border:0px red solid;
}
.fieldset{
	 border:1px rgba(200,200,200,0.8) solid; padding:5px;
	  background-color:rgba(250,250,250,0.9);
	   margin-top:10px;
	 border-radius:5px;
}
/*--shsow details*/
.chk input[type=checkbox]{ display:none !important;}

.userpropic{
 border-radius:8px;
 border:3px rgba(200,200,200,0.9) solid;
  height:200px;   width:200px !important;
   display:table; margin-left:auto; margin-right:auto;

}
.rows{
	 display:table;
	  width:94%; margin-bottom:10px;
	   margin-left:auto; margin-right:auto;

}
.checkboxcustom {
	border:1px rgba(138,187,59,0.5) solid;
	background-color:rgba(138,187,59,0.3);
}
.list{ width:100%;}

.list li{ line-height:30px; padding-left:1% !important;;
	 height:30px;  padding:3px; text-align:left; vertical-align:bottom;
	 border-bottom:1px rgba(100,100,100,0.1) solid;
}
.list li img{float:left; margin-right:5px;}

.text{line-height:25px; font-weight:bold; }

.designrow {
	background-color:rgba(147,181,89,0.9); 
	border-radius:5px;
	
border:4px rgba(255,255,255,0.7) solid !important;
/*	border:1px red solid !important;*/
}
.designrow {
	background-color:rgba(147,181,89,0.9); 
	border-radius:5px;
	
border:4px rgba(255,255,255,0.7) solid !important;
/*	border:1px red solid !important;*/
}

.designrow1 {
	background-color:rgba(150,119,177,0.9); 
	border-radius:5px;
	
border:4px rgba(255,255,255,0.7) solid !important;
/*	border:1px red solid !important;*/
}
.designrow2 {
	background-color:rgba(240,240,240,0.9); 
	border-radius:5px;
	
border:4px rgba(205,205,205,0.2) solid !important;
/*	border:1px red solid !important;*/
}


.designrow1 span{ padding:5px; font-size:1.5em;
	 display:block; text-align:center; color:rgba(255,255,255,0.9);
}
.col-sm-4 {
    width: 32.33333333333333%; float:left;
  }
.vline{
	 border-left:2px rgba(255,255,255,0.7) solid;
}

.box{ padding:5px;
text-align:center; font-weight:bold; color:rgba(255,255,255,0.8);

}
.box span{ 
	 display:block; 
	  font-size:2.5em; 
}
.box small{
	 display:block; margin-top:-5px;
}
@media (max-width:320px)
{
.box span{display:block;  font-size:1.5em;}
.designrow1 span{  font-size:1em;}

}

@media (max-width:240px)
{
.box small{ font-size:8pt;}
}

/*profile--*/
.profile{
	border:0px red solid !important;
	 width:98%; margin-left:auto !important; margin-right:auto !important;
}
.ui-content{
	 padding:0px !important;
}
.user-pic img{ margin-top:-3px; margin-left:-3px !important;
padding:3px; min-height:100px !important; max-height:750px;
	display:table; margin-left:auto; margin-right:auto;
	 width:100%;
	 
	 
	 /* max-width:230px;
	 border-radius:50%; border:5px rgba(247,70,74,0.8) solid;
	 -webkit-border-radius:50%;
	  -moz-border-radius:50%;
	  */
}
@Media (max-width:400px) {
	 max-height:300px;
}
.profile p{
	 display:table; margin-left:auto; margin-right:auto;
	 color:rgba(247,70,74,0.8);
}
.probtn{
 background-color:rgba(247,70,74,0.8) !important;	
 border:1px rgba(247,70,74,0.9) solid; color:white;
  font-weight:normal !important;
}
.probtn:hover{
	 background-color:rgba(247,70,74,0.7);	

}
.container {   margin-top:5px;
	margin-left:auto !important; margin-right:auto !important; display:table !important;
}

.ui-input-text, .ui-body-inherit, .ui-shadow-inset{
	 box-shadow:0px 0px 0px white !important;
	  -webkit-box-shadow:0px 0px 0px white !important;
	   -moz-box-shadow:0px 0px 0px white !important;
	background: #fff !important;
border-color: rgba(230,230,230,0.9) !important;
color: #333 !important;
text-shadow: 0 1px 0 #f3f3f3 !important;


}
.border{
background: #fff !important;
border-color: rgba(230,230,230,0.9) !important;
color: #333 !important;
text-shadow: 0 1px 0 #f3f3f3 !important;

}
.chk .ui-btn{
	position:static !important;
}
.fbbtn{
 display:table;
  margin-left:auto !important; margin-right:auto !important;
 background-color:#3B589C !important;
 color: white !important;
 text-shadow:none !important;
 -webkit-text-shadow:none !important;
  text-decoration:none;
  padding:5px;
  border-radius:5px;
 line-height:25px; overflow:hidden;
  height:20px !important;
  font-size:10pt;
   width:200px;
}
.ui-select .ui-btn{
 padding:8px;
border-radius:5px;
border-color:rgba(230,230,230,0.6) !important;

color: #333 !important;
text-shadow: 0 1px 0 #f3f3f3 !important;


}
.textbox{
	margin-top:20px !important; margin-bottom:20px;
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after .ui-Seect
{
background-image:url('data:image/svg+xml;charset=US-ASCII,<%3Fxml%20version%3D"1.0"%20encoding%3D"iso-8859-1"%3F><!DOCTYPE%20svg%20PUBLIC%20"-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN"%20"http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd"><svg%20version%3D"1.1"%20id%3D"Layer_1"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20xmlns%3Axlink%3D"http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink"%20x%3D"0px"%20y%3D"0px"%20%20width%3D"14px"%20height%3D"14px"%20viewBox%3D"0%200%2014%2014"%20style%3D"enable-background%3Anew%200%200%2014%2014%3B"%20xml%3Aspace%3D"preserve"><polygon%20style%3D"fill%3A%23FFFFFF%3B"%20points%3D"11.949%2C3.404%207%2C8.354%202.05%2C3.404%20-0.071%2C5.525%207%2C12.596%2014.07%2C5.525%20"%2F><%2Fsvg>');
}
.fb{ float:left; margin-right:7px;}
.btn{
 
 background-color:rgba(247,70,74,0.8) !important;
 color: white !important;
 text-shadow:none !important;
 -webkit-text-shadow:none !important;

}
.link{text-decoration:none; font-family:text; color:rgba(33,133,197,0.9); font-weight:bold;}
.ui-select, .ui-btn select
{
 box-shadow:0px 0px 0px white !important;
	  -webkit-box-shadow:0px 0px 0px white !important;
	   -moz-box-shadow:0px 0px 0px white !important;

	
}

.ui-shadow, .ui-focus{
 box-shadow:0px 0px 0px white !important;
	  -webkit-box-shadow:0px 0px 0px white !important;
	   -moz-box-shadow:0px 0px 0px white !important;

	
}
.nav-glyphish-example .ui-btn { padding-top: 30px !important;  padding-bottom:5px !important; }
.nav-glyphish-example .ui-btn:after { width: 30px!important; height: 23px!important; margin-left: -15px !important;

 box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important;
 -webkit-border-radius: 0 !important; border-radius: 0 !important; }
 
#chat:after { background:  url('../img/searchUI.png') no-repeat 50% 50% !important;}
#email:after { background:  url('../img/chatui.png') no-repeat 50% 50% !important;}
#beer:after { background:  url('../img/meui.png') no-repeat 50% 50% !important;}
#skull:after { background:  url('../img/matchui.png') no-repeat 50% 50% !important;}
.takepicture:after {
	background-image:url('data:image/svg+xml;charset=US-ASCII,<%3Fxml%20version%3D"1.0"%20encoding%3D"iso-8859-1"%3F><!DOCTYPE%20svg%20PUBLIC%20"-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN"%20"http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd"><svg%20version%3D"1.1"%20id%3D"Layer_1"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20xmlns%3Axlink%3D"http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink"%20x%3D"0px"%20y%3D"0px"%20%20width%3D"14px"%20height%3D"14px"%20viewBox%3D"0%200%2014%2014"%20style%3D"enable-background%3Anew%200%200%2014%2014%3B"%20xml%3Aspace%3D"preserve"><path%20style%3D"fill%3A%23FFFFFF%3B"%20d%3D"M12%2C2.5H9.908c-0.206-0.581-0.756-1-1.408-1h-3c-0.652%2C0-1.202%2C0.419-1.408%2C1H2c-1.104%2C0-2%2C0.896-2%2C2%20v6c0%2C1.104%2C0.896%2C2%2C2%2C2h10c1.104%2C0%2C2-0.896%2C2-2v-6C14%2C3.396%2C13.104%2C2.5%2C12%2C2.5z%20M7%2C10.5c-1.657%2C0-3-1.344-3-3c0-1.657%2C1.343-3%2C3-3%20s3%2C1.343%2C3%2C3C10%2C9.156%2C8.657%2C10.5%2C7%2C10.5z%20M7%2C5.5c-1.104%2C0-2%2C0.896-2%2C2c0%2C1.104%2C0.896%2C2%2C2%2C2c1.104%2C0%2C2-0.896%2C2-2%20C9%2C6.396%2C8.104%2C5.5%2C7%2C5.5z"%2F><%2Fsvg>') !important;
	
}
.uploadpic:after{
	 background-image:url('data:image/svg+xml;charset=US-ASCII,<%3Fxml%20version%3D"1.0"%20encoding%3D"iso-8859-1"%3F><!DOCTYPE%20svg%20PUBLIC%20"-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN"%20"http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd"><svg%20version%3D"1.1"%20id%3D"Layer_1"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20xmlns%3Axlink%3D"http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink"%20x%3D"0px"%20y%3D"0px"%20%20width%3D"14px"%20height%3D"14px"%20viewBox%3D"0%200%2014%2014"%20style%3D"enable-background%3Anew%200%200%2014%2014%3B"%20xml%3Aspace%3D"preserve"><path%20style%3D"fill%3A%23FFFFFF%3B"%20d%3D"M9%2C5v3l5-4L9%2C0v3c0%2C0-5%2C0-5%2C7C6%2C5%2C9%2C5%2C9%2C5z%20M11%2C12H2V5h1l2-2H0v11h13V7l-2%2C2V12z"%2F><%2Fsvg>') !important;
}

@font-face {
font-family: 'text';
src: url('HelveticaNeuePro-LT.otf');
}
@font-face
{
	font-family:HelveticaRegular;
	src:url('Robot.ttf');
}
ul{
	 margin:0px !important; padding:0px !important; list-style:none; display:table; margin-left:auto !important; margin-right:auto !important;
}
html{height:100%;}
body{height:100%;	 margin:0px; padding:0px;}
.splashscreen {
top:0px;
background: rgba(73,155,234,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(40,132,226,1) 36%, rgba(11,112,219,1) 67%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(73,155,234,1)), color-stop(36%, rgba(40,132,226,1)), color-stop(67%, rgba(11,112,219,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(40,132,226,1) 36%, rgba(11,112,219,1) 67%);
background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(40,132,226,1) 36%, rgba(11,112,219,1) 67%);
background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(40,132,226,1) 36%, rgba(11,112,219,1) 67%);
color:white; height:100%;}
 
.splashscreen div{ text-align:center;	border:0px red solid; display:table; margin-left:auto; margin-right:auto;
 position:absolute;
 width:100%;
   top:20%;
 
}
.splashscreen div img{ width:80%; max-width:400px;
 display:table; margin-left:auto; margin-right:auto;
}
.splashscreen div span{ display:block; font-size:10pt;}



/*--home screen--*/
.homescreen {max-width:768px !important; border:0px blue solid;}

.row { margin-left:auto !important; margin-right:auto !important; border:0px red solid;
  display:table; width:userprofile100%;}

.col{border:0px red solid; float:left; margin-top:5%; width:24.33333333333%;}


.icon{ box-shadow:0px 0px 5px rgba(200,200,200,0.9);
-webkit-box-shadow:0px 0px 5px rgba(200,200,200,0.9);
	 display:table;   width:53px;  height:51px;
	  margin-left:auto; margin-right:auto; border-radius:30px; padding:2px;
}
.one{background-color:rgba(242,121,103,0.7);}
.two{background-color:rgba(195,33,72,0.9);}
.three{background-color:rgba(141,182,0,0.9);}
.four{background-color:rgba(33,171,205,0.9);}
.five{background-color:rgba(216,145,239,0.9);}
.six{background-color:rgba(255,85,163,0.9);}
.seven{background-color:rgba(0,128,128,0.9);}
.eight{ background-color:rgba(0,204,153,0.9);}

.col section{ display:table;
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
color: rgba(70,70,70,0.8);
cursor:pointer;
font-weight:300;
height:90px;
border:0px red solid;
order-radius:15px;
margin-left:auto; margin-right:auto;
}

.col section img{border:0px red solid; margin-top:5px;}
.col section span{ display:block; text-align:center; line-height: 25px; font-size: 8pt;}
@media (max-width:420px)
{
.col{width:30.333333333%; float:left;}
}

.menubarfooter {
 background-color:rgba(200,200,200,0.4); 
 box-shadow:0px 0px 0px rgba(100,100,100,0.5);
}
/*--searchbox--*/

.menubar{display:table;  border:0px red solid; list-style:none; margin:0px; padding:0px; margin-left:auto; margin-right:100px;}
.menubar li{display:inline-block;}

.menubar a{  display:block;  padding:8px; padding-left:15px !important; padding-right:15px !important;
color:rgba(255,255,255,0.8) !important; line-height:25px;
font-size:10pt; text-decoration:none; font-weight:normal;}


@media (max-width:320px)
{
.menubar a{ padding-left:5px !important; padding-right:5px !important;font-size:9pt;}
}

a{text-decoration:none !important;}	

.ui-btnright {float:right; border:0px white solid; width:10%; margin-top:8px;}
.ui-btnright a{ float:right; margin-right:5px;}
.backbutton {float:left; border:0px white solid; width:10%; margin-top:6px;}
.backbutton img{margin-left:5px;}
.menutop{ text-align:center;float:left; border:0px white solid; width:75%;}
.pageactive .arrow-up{ 
	width: 0;  position:absolute;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	 margin-top:-6px;
	  margin-left:20px;
	border-bottom: 10px solid white;
	
}
.pageactive a{
	color:white !important;
}

/*--footer--*/
.menubarfooter ul{

}
.menubarfooter li{
	border:0px red solid; display:inline-block; height:100%;
}
.menubarfooter a img{
	 display:table; margin-left:auto; margin-right:auto;
}
.menubarfooter a{ text-align:center;
 float:left; display:block;  padding-top:8px;
  padding-left:10px !important; padding-right:10px !important;
 color:rgba(100,100,100,0.9);font-size:9pt; text-decoration:none; font-weight:normal;


}
.menubarfooter span{display:block; line-height:20px;}

/*--search data--*/

.serachdata{
	 display:table;  margin-left:auto; margin-right:auto;
	 border:0px red solid;
	 width:100%;
	
	 padding:5px;
}
.serachdata a{
	display:block;
}
.usericon{float:left; margin-right:5px; width:95px; border:1px red solid !important; }
.user-data{padding:5px; float:left; display:table; border:0px red solid; width:50%;}
.span{ font-weight:normal;  font-size:9pt; color:rgba(50,50,50,0.9);
 border:0px green solid; display:block; margin-top:2px; }

.img{float:left !important; width:15px;
 display:table; border:0px red solid; margin-right:4px;
}
@media (max-width:275px)
{
.userid { font-size:8pt;
}	
}
.userid {
	font-weight:bold !important; font-size:.9em; line-height:25px;
	color:#FE6F5E;
}

.serachdata section{ margin-top:10px; border-radius:5px; border:1px rgba(200,200,200,0.7) solid;
 font-family: 'text', sans-serif; letter-spacing:1px; 

 display:table; width:100%; cursor:pointer;
}
.serachdata section:hover{
	background-color:rgba(240,240,240,0.4);
}
.serachdata section img{
	 float:left; margin-right:10px;
}
.ser-data {  padding-top:.5%;
	border:0px red solid;
}
.userid small{ display:inline-block;
 background-color:#00cc65; width:8px; height:8px;
 border-radius:50%;
	
}
.location{
	color:#318CE7;
}